body{
	font-family: "Lucida Console", Monaco, monospace;
	margin-top:30px;
    margin-left:20px;

}

.round {
	margin-top:10px;
    width:7em;
	border-radius: 120px;
	-webkit-border-radius: 120px;
	-moz-border-radius: 120px;
}

.loc {
	width:1em;

}
.currentLoc {
	font-size: 10pt;
	font-weight: normal;

}

