

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body { 
  background: url(../img/bg.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.navbar-inverse {
background-image: -webkit-linear-gradient(top,#000 0,#010101 100%);
background-image: linear-gradient(to bottom,#000,#010101 100%);
background-repeat: repeat-x;
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff3c3c3c', endColorstr='#ff222222', GradientType=0);
filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

#maincontent{
    font-size:90pt;
    color:white;
    margin-top:30px;
     -webkit-font-smoothing: antialiased;
    line-height: 80%;
    
}

.navbar-inverse .navbar-nav>li>a {
color: #999;
font-size: large;
}











