

/* ==========================================================================
Author's custom styles
========================================================================== */

body { 
	background: url(../img/bg.min.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	-webkit-font-smoothing: antialiased;

}

.navbar-inverse {
	background-image: -webkit-linear-gradient(top,#000 0,#010101 100%);
	background-image: linear-gradient(to bottom,#000,#010101 100%);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff3c3c3c', endColorstr='#ff222222', GradientType=0);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}



.navbar-inverse .navbar-nav>li>a {
	color: #999;
	font-size: large;
}

.rightcontent{


	color:white;
	margin-top: 60px;
	line-height: 80%;
	font-size:3em;
	float:right;
	text-align: center;
}

#fade{
	-webkit-animation-delay: 1s;	
	-moz-animation-delay: 1s;
	-o-animation-delay: 1s;	


}
#mission{
	font-size:14pt;

}
.leftcontent
{
	float:left;
	margin-top: 30px;

}











